POSTGRES_DB=myapp_db
POSTGRES_USER=myapp_user
POSTGRES_PASSWORD=myapp_password
POSTGRES_PORT=5432

REDIS_PORT=6379

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672

API_PORT=8080
ASPNETCORE_ENVIRONMENT=Development
Cors__FrontendOrigin=http://localhost:5173

# Cloudinary
Cloudinary__CloudName=your_cloud_name
Cloudinary__ApiKey=your_api_key
Cloudinary__ApiSecret=your_api_secret

# Email secret
Email__Password=your_email_app_password

# JWT (use at least 32 random bytes)
Jwt__SigningKey=your_random_signing_key_at_least_32_bytes
